<!DOCTYPE html>
<html>
  <head>


<style>



/* Tables */

table{
  text-align: center;
  border-collapse:collapse;
  border-style : hidden!important;
}
th {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-style : hidden!important;
  
  background-color: rgb(48, 51, 54);
  border-color: rgb(151, 150, 168);
  color: white;
  height: 45px;
}
tr{border-style : hidden!important;}

.oddTableRow {
    background-color:rgba(191, 194, 196,0.5);
}

.tableRow { background-color:rgb(255, 255, 255); } 

tr:hover {background-color: rgb(191, 194, 196)!important;}
.selectedTableRow {
    background-color: rgba(191, 194, 196,0.5) !important;
}






</style>








        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">

        <title>Current Room Service</title>
        <link rel="icon" href="http://127.0.0.1/webtech-2/hotel/admin/web-icon/favicon.ico" type="image/icon type">

        <!-- Bootstrap core CSS -->
        <link href="https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://getbootstrap.com/docs/4.4/dist/css/bootstrap.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



<meta http-equiv="refresh" content="10">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'TOTAL NUMBER OF CUSTOMERS');
        data.addColumn('number', 'AVERAGE EARNING PER CUSTOMER');
        data.addColumn('number', 'TOTAL EARNINGS');
        data.addRows({{dat1|tojson}});

        var table = new google.visualization.Table(document.getElementById('table_div1'));

        table.draw(data, {showRowNumber: false, width: '1200', height: '100',    cssClassNames: { 
      headerRow: 'headerRow',
      tableRow: 'tableRow',
      oddTableRow: 'oddTableRow',
      selectedTableRow: 'selectedTableRow',
      headerCell: 'headerCell',
      tableCell: 'tableCell',
      rowNumberCell: 'rowNumberCell'
    } });
      }
    </script>

    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'SALARY');
        data.addColumn('string', 'NAME');
        data.addColumn('string', 'DATE OF JOINING');
        data.addRows({{dat2|tojson}});

        var table = new google.visualization.Table(document.getElementById('table_div2'));

        table.draw(data, {showRowNumber: true,width: '1200', height: '200', cssClassNames: { 
      headerRow: 'headerRow',
      tableRow: 'tableRow',
      oddTableRow: 'oddTableRow',
      selectedTableRow: 'selectedTableRow',
      headerCell: 'headerCell',
      tableCell: 'tableCell',
      rowNumberCell: 'rowNumberCell'
    }});
      }
    </script>









   
    <link href="http://127.0.0.1/webtech-2/hotel/admin/dash.css" rel="stylesheet">
  </head>
<body>
      <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
          <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Sunrise Hotels</a>
              <ul class="navbar-nav px-3">
                  <li class="nav-item text-nowrap">
                      <a class="nav-link" href="#">Sign out</a>
                  </li>
              </ul>
      </nav>
      <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost/webtech-2/hotel/admin/dashboard.php">
                        <span data-feather="home"></span>
                        Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost/webtech-2/hotel/admin/roomreservation.php">
                        <span data-feather="plus-square"></span>
                        Room Reservation
                        </a>
                    </li>
                    <li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost/webtech-2/hotel/admin/custroom.html">
                        <span data-feather="activity"></span>
                            On-Going Room Service
                        </a>
                    </li>
                </ul>
                <hr/>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost/webtech-2/hotel/admin/employee_add.html">
                        <span data-feather="user-plus"></span>
                            Add Employee
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost/webtech-2/hotel/admin/cur_employees.html">
                        <span data-feather="users"></span>
                            View Current Employees
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost/webtech-2/hotel/admin/employee_delete.html">
                        <span data-feather="user-minus"></span>
                            Remove Employees
                        </a>
                    </li>
                </ul>
                <hr/>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:5000/wt2/stats">
                        <span data-feather="bar-chart-2"></span>
                            View Stats
                        </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://localhost:5000/wt2/graph">
                      <span data-feather="bar-chart"></span>
                          Analytics
                      </a>
                  </li>
                </ul>
                </div>
            </nav>
        </div>
    </div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <!--PAGE CONETENT HERE!!!!-->
      <br>
<div class="page-header">
  <h2>STATISTICS</h2>
</div>
<hr/>
<h4>Income Stats</h4>
<br>
<div id="table_div1"></div>
<br>
<br>
<h4>Top 3 Salaried Employees</h4>
<br>
<div id="table_div2"></div>
      </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="https://getbootstrap.com//docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script src="http://127.0.0.1/webtech-2/hotel/admin/dashboard.js"></script></body>       
</body>
</html>

